.circle {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 0px;

    animation-name: leftToRight, toBottom;
    animation-timing-function: cubic-bezier(0.36, 0, 0.64, 1), cubic-bezier(0.36, 0, 0.64, 1);
    animation-iteration-count: infinite, infinite;
    animation-duration: 1s, 1s;
    animation-delay: 0s, -0.5s;
    animation-direction: alternate, alternate;
}

@keyframes leftToRight {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 200px
    }
}

@keyframes toBottom {
    form {
        margin-top: 5px;
    }
    to {
        margin-top: 250px;
    }
}