<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http="X-UA-Compatible" content="IE=edge">
        <title>Content</title>
    </head>
    <body>
        <div class="container">
            <div class="panel">
                <ul>
                    <ul>
                        <ol>
                            <a href="cssVarDesigner.html">设计器</a>
                        </ol>
                        <ol>
                            <a href="circleAnimation.html">简单动画</a>
                        </ol>
                        <ol>
                            <a href="sleekSlidingToggleCheckbox.html">开关动画</a>
                        </ol>
                    </ul>
                </ul>
            </div>
        </div>
        <script>
        </script>
    </body>
</html>